@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: 'Pretendard-Regular';
    min-width: 1320px;
    background: url(./event_img/backg.png);
}


/*헤더영역*/    
#main{
    background: url(./shop_img/banner.png) no-repeat center top;
    height: 600px;
    width: 100%;
}
#header{
    width: 1320px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
    display: block;
    position: relative;
}
.round{
    position: absolute;
    top: 261px;
    left: 20px;
    animation: round 13s linear infinite;
}
@keyframes round{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#header> .header_inner{
    background-color: #fff;
    height: 100px;
    width: 1320px;
    margin: auto;
    display: block;
    position: relative;
    border-radius: 10px 10px 10px;
}
.logo{
    float: left;
    margin: 10px 50px;
}
.nav> li{
    float: left;
    padding: 40px 20px;

}
.nav> li> a{
    font-family: 'Source Serif Pro';
    letter-spacing: 1px;

}
.nav> li> a:hover{
    font-weight: bold;
    color: #cdb87e;
}
.nav> li:nth-child(1){
    margin-left: 200px;
}

.header_inner> p{
    float: right;
    margin: 40px 30px 0;
    font-size: 14px;
}
.header_inner> p> a{
    color: #777;
}
.header_inner> p> a:hover{
    color: #cdb87e;
    font-weight: bold;
}

/*서브메뉴*/
.sub{
    position: absolute;/*기준은#main에*/
    width: 1320px;
    height: 300px;
    background-color: #ebe0c6;
    left: 0;
    top: 100px;
    display: none;
    z-index: 99;
}

.sub .s_inner{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    opacity: 100%;
    display: block;
}
.sub .s_inner ul{
    float: left;
    margin: 20px 30px;
}
.sub .s_inner h4{
    color: #7a6960;
}
.sub .s_inner ul li a{
    font-size: 14px;
    color: #333;
}
.sub .s_inner ul li:nth-child(1){
    font-family: 'Source Serif Pro';
    margin-bottom: 20px;
}
h4{
    margin-left: 30px;
    font-family: 'Source Serif Pro';
    color: #7a6960;
}

/*서브메뉴왼쪽*/
.s_inner .s_left{
    width: 600px;
    float: left;
    margin-top: 40px;
    margin-left: 350px;
}
.s_inner .s_left ul li{
    margin-bottom: 10px;
}

.s_inner .s_left ul li a:hover{
    font-weight: bold;
    color: #7a6960;;
}

/*서브메뉴오른쪽*/
.s_inner .s_right{
    width: 350px;
    float: right;
    margin: 40px auto;
    display: block;
}
.s_inner .s_right p{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    color: #4b3826;
}


/*팝업 꾸미기*/
.popup{
    position: absolute;
    top: 70%;
    left: 30%;
    display: none;/*팝업 안보이게*/
}
.popup img{
    display: block;
}
.popup p{
    background-color: #000;
    text-align: right;
    padding: 10px;
}
.popup p a{
    color: #fff;
}

/*이벤트목록*/

.all{
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
}

.boxInner {
width: 1320px;
margin: auto;
text-align: center;
}


.boxInner h3{
    margin: 20px 0;
}
.boxInner p{
    font-size: 16px;
    color: #666;
}
.boxInner .bar{
    margin-top: 10px;
}
.box1 {
width: 500px;
height: 600px;
float: left;
margin-left: 106.6px;
}
.box2 {
width: 500px;
height: 600px;
float: left;
margin-left: 106.6px;
}

.box1, .box2{
    overflow: hidden;
}
.box1:hover img, .box2:hover img{
    transform: scale(1.03, 1.03);
}
.box1 img, .box2 img{
    transition: all 1s;
}

/*버튼*/
.button{
    width: 1320px;
    height: 100px;
    margin: 100px auto 0;
    text-align: center;
}
.button a{
font-family: 'Source Serif Pro';
font-weight: bold;
font-size: 18px;
margin: 0 30px;
padding: 10px 20px;
background-color: #eee;
color: #7a6860;
border-radius: 15px 15px 15px;
}

.button a:hover{
    background-color: #b9a390;
    color: #fff;
  }
.filter2{
    display: none;
}


#footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #7a6960;
}
.f_inner{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f_logo{
    float: left;
    width: 121px;
    height: 109px;
    padding-top: 47.5px;
    padding-left: 20px;
}
.f_center{
    width: 620px;
    float: left;
    margin: 0 100px;
    padding-top: 50px;
    padding-left: 60px;
}
.f_center h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}
.f_center p{
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
}
.f_center a{
    font-size: 12px;
    color: #ffffff;
}

.f_right{
    float: left;
    width: 289px;
    display: block;
    padding-top: 50px;
}
.f_right h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}

.f_right a img{
    padding: 20px 0;
}
.f_right a:hover image{
    opacity: 70%;
}
.f_right a:hover img{
    opacity: 60%;
}
