@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: 'Pretendard-Regular';
    min-width: 1320px;
    height: 100%;
    background: url(./shop_img/back.png);
}


/*헤더영역*/    
#main{
    background: url(./event_img/bannner.png);
    height: 600px;
    width: 100%;
}
#header{
    width: 1320px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
    display: block;
}
#header> .header_inner{
    background-color: #fff;
    height: 100px;
    width: 1320px;
    margin: auto;
    display: block;
    position: relative;
    border-radius: 10px 10px 10px;
}
.logo{
    float: left;
    margin: 10px 50px;
}
.nav> li{
    float: left;
    padding: 40px 20px;

}
.nav> li> a{
    font-family: 'Source Serif Pro';
    letter-spacing: 1px;

}
.nav> li> a:hover{
    font-weight: bold;
    color: #cdb87e;
}
.nav> li:nth-child(1){
    margin-left: 200px;
}

.header_inner> p{
    float: right;
    margin: 40px 30px 0;
    font-size: 14px;
}
.header_inner> p> a{
    color: #777;
}
.header_inner> p> a:hover{
    color: #cdb87e;
    font-weight: bold;
}

/*서브메뉴*/
.sub{
    position: absolute;/*기준은#main에*/
    width: 1320px;
    height: 300px;
    background-color: #ebe0c6;
    left: 0;
    top: 100px;
    display: none;
    z-index: 99;
}

.sub .s_inner{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    opacity: 100%;
    display: block;
}
.sub .s_inner ul{
    float: left;
    margin: 20px 30px;
}
.sub .s_inner h4{
    color: #7a6960;
}
.sub .s_inner ul li a{
    font-size: 14px;
    color: #333;
}
.sub .s_inner ul li:nth-child(1){
    font-family: 'Source Serif Pro';
    margin-bottom: 20px;
}
h4{
    margin-left: 30px;
    font-family: 'Source Serif Pro';
    color: #7a6960;
}

/*서브메뉴왼쪽*/
.s_inner .s_left{
    width: 600px;
    float: left;
    margin-top: 40px;
    margin-left: 350px;
}
.s_inner .s_left ul li{
    margin-bottom: 10px;
}

.s_inner .s_left ul li a:hover{
    font-weight: bold;
    color: #7a6960;;
}

/*서브메뉴오른쪽*/
.s_inner .s_right{
    width: 350px;
    float: right;
    margin: 40px auto;
    display: block;
}
.s_inner .s_right p{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    color: #4b3826;
}


.reserve{
    width: 100%;
}

.reserve_inn{
    position: relative;
    width: 1320px;
    background: url(./reserve_img/cal_bg.png) no-repeat;
    height: 700px;
    margin: 50px auto;
    
}
.calendar{
    width: 600px;
    float: left;
    margin-left: 150px;
    margin-top: 60px;
}

.box{
    position: absolute;
    top: 30%;
    left: 59.6%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 6px 5px;
    background-color: #7b675f;
    color: #fff;
    width: 20%;
    margin-bottom: 20px;
    outline: none;
}
.box2{
    float: left;
    width: 300px;
    margin-top: 250px;
    box-sizing: border-box;
}
.box2 a{
    padding: 10px 20px;
    margin-left: 130px;
    margin-top: 20px;
    text-align: center;
}
.box2 a:hover{
    color: #fff;

}
#box2-select1, #box2-select2{
    display: inline-block;
    padding: 10px 15px;
    background-color: #7b675f;
    color: #fff;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 38px;
    outline: none;
    text-align: center;
    
}
#box2-select1:hover, #box2-select2:hover{
    background-color: #a68d83;
    outline: none;
}

.reserve_inn p{
    font-size: 13.5px;
    margin-top: -25px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #3d2d1f;
}

.store{
    width: 100%;
}
.store_inn{
    width: 1200px;
    height: 700px;
    margin: 200px auto 0;
    background: url(./reserve_img/map_bg.png) no-repeat 1%;
}
h1{
    font-family: 'Source Serif Pro';
    font-size: 24px;
    color: #3d3532;
    text-align: center;
    background: url(./brand_img/background.png);
}
.map{
    float: right;
    width: 600px;
    margin: 60px auto;
    
}
.contents{
    float: left;
    width: 600px;
    height: 500px;
    margin-top: 130px;
    text-align: center;
    background: url(./reserve_img/call_icon.png) no-repeat 32% 40.5%;

}
.contents h3{
    margin: 80px 0 3px;
    color: #3d3532;
    font-family: 'Source Serif Pro';
    font-size: 16px;

}
.contents h4{
    color: #857064;
    font-family: 'Source Serif Pro';
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.contents h2{
    margin: 24px;
    font-size: 22px;
}
.contents h5{
    font-weight: 300;
    margin-top: 30px;
}


#footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #7a6960;
}
.f_inner{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f_logo{
    float: left;
    width: 121px;
    height: 109px;
    padding-top: 47.5px;
    padding-left: 20px;
}
.f_center{
    width: 620px;
    float: left;
    margin: 0 100px;
    padding-top: 50px;
    padding-left: 60px;
}
.f_center h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}
.f_center p{
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
}
.f_center a{
    font-size: 12px;
    color: #ffffff;
}

.f_right{
    float: left;
    width: 289px;
    display: block;
    padding-top: 50px;
}
.f_right h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}

.f_right a img{
    padding: 20px 0;
}
.f_right a:hover image{
    opacity: 70%;
}
.f_right a:hover img{
    opacity: 60%;
}