*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    min-width: 1320px;
    background: url(./salon_img/bg2.jpg);
    font-family: 'Pretendard-Regular';
    background-color: #ffffff;
}


/*헤더영역*/    
#main{
    height: 600px;
    position: absolute; /*서브메뉴의 기준*/
    top: 0;
    left: 0;
    width: 100%;
}
#header{
    width: 1320px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
    display: block;
}
#header> .header_inner{
    background-color: #fff;
    height: 100px;
    width: 1320px;
    margin: auto;
    display: block;
    position: relative;
    border-radius: 10px 10px 10px;
}
.logo{
    float: left;
    margin: 10px 50px;
}
.nav> li{
    float: left;
    padding: 40px 20px;

}
.nav> li> a{
    font-family: 'Source Serif Pro';
    letter-spacing: 1px;

}
.nav> li> a:hover{
    font-weight: bold;
    color: #cdb87e;
}
.nav> li:nth-child(1){
    margin-left: 200px;
}

.header_inner> p{
    float: right;
    margin: 40px 30px 0;
    font-size: 14px;
}
.header_inner> p> a{
    color: #777;
}
.header_inner> p> a:hover{
    color: #cdb87e;
    font-weight: bold;
}

/*서브메뉴*/
.sub{
    position: absolute;/*기준은#main에*/
    width: 1320px;
    height: 300px;
    background-color: #ebe0c6;
    left: 0;
    top: 100px;
    display: none;
    z-index: 99;
}

.sub .s_inner{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    opacity: 100%;
    display: block;
}
.sub .s_inner ul{
    float: left;
    margin: 20px 30px;
}
.sub .s_inner h4{
    color: #7a6960;
}
.sub .s_inner ul li a{
    font-size: 14px;
    color: #333;
}
.sub .s_inner ul li:nth-child(1){
    font-family: 'Source Serif Pro';
    margin-bottom: 20px;
}
h4{
    margin-left: 30px;
    font-family: 'Source Serif Pro';
    color: #7a6960;
}

/*서브메뉴왼쪽*/
.s_inner .s_left{
    width: 600px;
    float: left;
    margin-top: 40px;
    margin-left: 350px;
}
.s_inner .s_left ul li{
    margin-bottom: 10px;
}

.s_inner .s_left ul li a:hover{
    font-weight: bold;
    color: #7a6960;;
}

/*서브메뉴오른쪽*/
.s_inner .s_right{
    width: 350px;
    float: right;
    margin: 40px auto;
    display: block;
}
.s_inner .s_right p{
    font-family: 'Source Serif Pro';
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    color: #4b3826;
}


.all{
    width: 100%;
    background-color: wheat;
    margin-top: 600px;
}
/*컨텐츠*/
h1{
    font-family: 'Source Serif Pro';
    color: #4b3826;
    font-size: 150px;
    margin-top: 350px;
    margin-left: 500px;
    font-weight: 500;
}

#content{
    width: 1220px;
    height: 0;
    margin: 100px auto;
}
.con1_inn{
    width: 1000px;
    height: 250px;
    margin: 200px auto 100px;
    text-align: center;
    line-height: 26px;
    display: block;
}
.con1_inn h1{
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
}

.content{
    width: 100%;
    height: 1200px;
    margin-top: 300px;
    display: block;
}
.con_size{
    padding-top: 30px;
    width: 1320px;
    height: 1100px;
    margin: 0 auto;
}
.con_center{
    width: 800px;
    height: 300px;
    margin: 20px auto;
}
.salon, .mens, .makeup{
    width: 300px;
    float: left;
}
.content .salon, .content .makeup{
    float: left;
    width: 300px;
    height: 300px;
    position: relative; 
    margin: 0 25px 0  80px;
}
.content .mens{
    float: left;
    width: 300px;
    height: 300px;
    position: relative; 
    margin: 0 50px 0 25px;
}
.content .salon:hover div, .content .mens:hover div, 
.con_inner2 .short:hover div,.con_inner2 .medium:hover div,
.con_inner2 .long:hover div,.con3 .makeup:hover div,
.con3 .shop:hover div{
    opacity: 1;
}
.salon div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 150px 150px 150px 150px;
    transition: all 1s;
    opacity: 0;
}
.mens div{
    position: absolute;
    width: 282px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 0px 180px 0px 0px;
    transition: all 1s;
    opacity: 0;
}

.salon div img, .mens div img{
    position: absolute;
    top: 60%;
    left: 60%;
}
.salon div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 30%;
    bottom: 45%;
}
.mens div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 37%;
    bottom: 45%;
}
.salon div p{
    position: absolute;
    right: 40%;
    bottom: 35%;
    font-size: 14px;
    color: #e2d9d1;
}
.mens div p{
    position: absolute;
    right: 20%;
    bottom: 25%;
    font-size: 12px;
    color: #e2d9d1;
    text-align: center;
}
.mens div h4{
    position: absolute;
    right: 38%;
    bottom: 15%;
    font-size: 13.5px;
    color: #e2d9d1;
}

/*두번째줄*/
.con_inner2{
    width: 900px;
    margin: 0 auto;
}

.short{
    width: 200px;
    float: left;
    margin: 0 15px 0 130px;
    height: 355px;
    position: relative; 
}
.medium{
    width: 200px;
    float: left;
    height: 355px;
    position: relative; 
    margin-right: 15px;
}
.long
{
    width: 200px;
    float: left;
    height: 355px;
    position: relative; 
}
.short div{
    position: absolute;
    width: 200px;
    height: 355px;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 150px 0px 0px 0px;
    transition: all 1s;
    opacity: 0;
}
.medium div{
    position: absolute;
    width: 200px;
    height: 355px;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 0px 0px 0px 0px;
    transition: all 1s;
    opacity: 0;
}
.long div{
    position: absolute;
    width: 200px;
    height: 355px;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 0px 0px 150px 0px;
    transition: all 1s;
    opacity: 0;
}

.short div img{
    position: absolute;
    top: 60%;
    left: 60%;
}
.short div h2,.makeup div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 37%;
    bottom: 45%;}

.medium div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 27%;
    bottom: 45%;}

.long div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 35%;
    bottom: 45%;}


.short div p, .medium div p{
    position: absolute;
    right: 23%;
    bottom: 38%;
    font-size: 12px;
    color: #e2d9d1;
    text-align: center;
}
.long div p{
    position: absolute;
    right: 29%;
    bottom: 38%;
    font-size: 12px;
    color: #e2d9d1;
    text-align: center;
}
.short div h4{
    position: absolute;
    right: 28%;
    bottom: 28%;
    font-size: 13.5px;
    color: #e2d9d1;
}
.medium div h4{
    position: absolute;
    right: 30%;
    bottom: 28%;
    font-size: 13.5px;
    color: #e2d9d1;
}
.long div h4{
    position: absolute;
    right: 35%;
    bottom: 28%;
    font-size: 13.5px;
    color: #e2d9d1;
}
/*두번째줄*/

/*세번째줄*/
.con3{
    width: 800px;
    height: 500px;
    margin: 400px auto;
}
.makeup div{
    position: absolute;
    width: 282px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 0px 0px 0px 180px;
    transition: all 1s;
    opacity: 0;
}
.makeup div p{
    position: absolute;
    right: 10%;
    bottom: 25%;
    font-size: 12px;
    color: #e2d9d1;
    text-align: center;
}
.makeup div h4{
    position: absolute;
    right: 33%;
    bottom: 15%;
    font-size: 13.5px;
    color: #e2d9d1;
}

.shop div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 13, 0, 0.8);
    text-align: right;
    border-radius: 150px 150px 150px 150px;
    transition: all 1s;
    opacity: 0;
}
.shop{
    width: 300px;
    height: 300px;
    float: left;
    position: relative; 
}
.shop div h2{
    font-family: 'Source Serif Pro';
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 35%;
    bottom: 45%;
}
.shop div p{
    position: absolute;
    right: 32%;
    bottom: 35%;
    font-size: 14px;
    color: #e2d9d1;
}
/*세번째줄*/




/*멤버십*/
h3{
    font-family: 'Source Serif Pro';
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #7a6960;
}
.mem{
    width: 100%;
    height: 800px;

}
.mem_center{
    width: 1000px;
    height: 1000px;
    margin: 30px auto;
    text-align: center;
}

.mem_center div{
    margin-left: 77.5px;
    margin-top: 80px;
}

.mem_center p {
    margin: 30px auto;
}
.mem_center img{
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}
.mem1{
    width: 230px;
    height: 430px;
    float: left;
    position: relative;
    transition: all 1s;
    color: transparent;
}
.bg1{
    background: url(./salon_img/mem01.png);
}
.bg2{
    background: url(./salon_img/mem02.png);
}
.bg3{
    background: url(./salon_img/mem03.png);
}
        /*호버*/
        .bg1:hover{
            transform: rotateY(180deg);
            background: url(./salon_img/mem001_hover.png);
        }        
        .bg2:hover{
            transform: rotateY(180deg);
            background: url(./salon_img/mem02_hover.png);
        }
        .bg3:hover{
            transform: rotateY(180deg);
            background: url(./salon_img/mem03_hover.png);
        }
 .mem1:hover{
    color: #fff;
 }      
.mem1 h5{
    transform: rotateY(180deg);
    padding-top: 70px;
    font-family: 'Source Serif Pro';
    font-size: 28px;

}
.mem1 p{
    transform: rotateY(180deg);
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
}
.mem_go{
    width: 100%;
    height: 200px;
}
.mem_go_center{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.mem_go_center a{
    background-color: #ded3bd;
    padding: 20px 30px;
    border-radius: 5px 5px;
}
.mem_go_center a:hover{
    color: #fff;
    background-color: #7a6960;
}


#footer{
    width: 100%;
    height: 300px;
    background-color: #4b3826;
}
.f_inner{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f_logo{
    float: left;
    width: 121px;
    height: 109px;
    padding-top: 47.5px;
    padding-left: 20px;
}
.f_center{
    width: 620px;
    float: left;
    margin: 0 100px;
    padding-top: 50px;
    padding-left: 60px;
}
.f_center h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}
.f_center p{
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
}
.f_center a{
    font-size: 12px;
    color: #ffffff;
}

.f_right{
    float: left;
    width: 289px;
    display: block;
    padding-top: 50px;
}
.f_right h6{
    font-family: 'Source Serif Pro';   
    font-size: 24px;
    color: #cdb87e;
}

.f_right a img{
    padding: 20px 0;
}
.f_right a:hover image{
    opacity: 70%;
}
.f_right a:hover img{
    opacity: 60%;
}
