@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: 'Pretendard-Regular';
    min-width: 1320px;
}

/*헤더영역*/    
#header{
    width: 1320px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 99;
}
#header> .header_inner{
    background-color: #fff;
    height: 100px;
    width: 1320px;
    margin: auto;
    display: block;
    position: relative;
    border-radius: 10px 10px 10px;
}
.logo{
    float: left;
    margin: 10px 50px;
}
.nav> li{
    float: left;
    padding: 40px 20px;

}
.nav> li> a{
    font-family: 'Source Serif Pro', serif;  
    letter-spacing: 1px;

}
.nav> li> a:hover{
    font-weight: bold;
    color: #cdb87e;
}
.nav> li:nth-child(1){
    margin-left: 200px;
}

.header_inner> p{
    float: right;
    margin: 40px 30px 0;
    font-size: 14px;
}
.header_inner> p> a{
    color: #777;
}
.header_inner> p> a:hover{
    color: #cdb87e;
    font-weight: bold;
}

/*서브메뉴*/
.sub{
    position: absolute;/*기준은#main에*/
    width: 1320px;
    height: 300px;
    background-color: #ebe0c6;
    left: 0;
    top: 100px;
    display: none;
    z-index: 99;
}

.sub .s_inner{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    opacity: 100%;
    display: block;
}
.sub .s_inner ul{
    float: left;
    margin: 20px 30px;
}
.sub .s_inner h4{
    color: #7a6960;
}
.sub .s_inner ul li a{
    font-size: 14px;
    color: #333;
}
.sub .s_inner ul li:nth-child(1){
    font-family: 'Source Serif Pro', serif;  
    margin-bottom: 20px;
}
h4{
    margin-left: 30px;
    font-family: 'Source Serif Pro', serif;  
    color: #7a6960;
}

/*서브메뉴왼쪽*/
.s_inner .s_left{
    width: 600px;
    float: left;
    margin-top: 40px;
    margin-left: 350px;
}
.s_inner .s_left ul li{
    margin-bottom: 10px;
}

.s_inner .s_left ul li a:hover{
    font-weight: bold;
    color: #7a6960;;
}

/*서브메뉴오른쪽*/
.s_inner .s_right{
    width: 350px;
    float: right;
    margin: 40px auto;
    display: block;
}
.s_inner .s_right p{
    font-family: 'Source Serif Pro', serif;  
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    color: #4b3826;
}

#main video{
   width: 100%;
   display: block;
}

/*아이콘박스*/
.lgc_box{
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
}
.lgc_box img{
    margin: 20px 75px 7px 75px;
}
.lgc_box a{
    color: #333;
}

.box1{
    width: 300px;
    height: 170px;
    background-color: #f7f2e8;
    float: left;
    margin-left: 120px;
    display: block;
}
.box1:hover,.box2:hover,.box3:hover {
    box-shadow: 5px 5px 5px rgba(102, 51, 0, 0.3);
    background-color: #ebe0c6;
}

.box2{
    width: 300px;
    height: 170px;
    background-color: #f7f2e8;
    float: left;
    margin: 0 30px;
}
.box2 img{
    margin-bottom: 10px;
}
.box3{
    width: 300px;
    height: 170px;
    background-color: #f7f2e8;
    float: left;
    margin-right: 120px;
}
.box3 img{
    margin-top: 30px;
    margin-bottom: 20px;
}

/*컨텐츠1*/
.content1{
    background: url(./img/con1_background.png) no-repeat center 150px;
    width: 1320px;
    height: 700px;
    margin: 0px auto 150px;
    padding: 150px 0;
    display: block;
    overflow: hidden;
}
/*컨텐츠1_살롱*/
.content1 .salon{
    float: left;
    width: 388px;
    height: 533px;
    margin-top: -50px;
    position: relative; 
}
.content1 .salon:hover div{
    opacity: 1;
}
.salon div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(133, 112, 100, 0.8);
    text-align: right;
    border-radius: 243px 0 0 0;
    transition: all 1s;
    opacity: 0;
}
.salon div img{
    position: absolute;
    top: 60%;
    left: 60%;
}
.salon div h1{
    font-family: 'Source Serif Pro', serif;
    color: #e2d9d1;
    font-weight: normal;
    position: absolute;
    left: 50%;
    bottom: 18%;
}
.salon div p{
    position: absolute;
    right: 20%;
    bottom: 9.5%;
    font-size: 14px;
    color: #e2d9d1;
}
/*컨텐츠1_숍*/
.content1 .shop{
    float: right;
    width: 388px;
    height: 533px;
    margin-top: 200px;
    position: relative;
}
.content1 .shop:hover div{
    opacity: 1;
}
.shop div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    border-radius: 0 249px 0 0;
    transition: all 1s;
    opacity: 0;
}
.shop div img{
    position: absolute;
    top: 12%;
    left: 10%;
}
.shop div h1{
    font-family: 'Source Serif Pro', serif;
    color: #7a6960;
    font-weight: normal;
    position: absolute;
    left: 5%;
    top: 29.5%;
}
.shop div p{
    position: absolute;
    left: 16% ;
    top: 38%;
    font-size: 14px;
    color: #7a6960;
}


.content_inn{
    width: 776px; /*얘 줄이니까 딱붙음*/
    margin: 0 auto;
    height: 700px;
}

/*컨텐츠2 스타일제안*/
.content2{
    width: 1220px;
    height: 600px;
    margin: 100px auto 200px;
    display: block;
    text-align: center;
    overflow: hidden;
}
.corol_ternd{
    float: left;

}
.new_hair{
    float: left;

}
.makeup{
    float: right;
}
.content2 div{
    float: left;
}
.content2 div h3{
    font-family: 'Source Serif Pro', serif;
    color: #7a6960;    
}
.content2 div:nth-child(odd){
    transform: rotate(270deg);
}
.content2 div:nth-child(1){
    margin-left: -30px;
    margin-right: -55px;
    margin-top: 62px;
}
.content2 div:nth-child(3){
    margin-left: -70px;
    margin-right: -70px;
    margin-top: 80px;
}
.content2 div:nth-child(5){
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 35px;
}

/*컨텐츠2_이미지확대효과*/
.corol_ternd, .new_hair, .makeup{
    overflow: hidden;
}
.corol_ternd:hover img, .new_hair:hover img, .makeup:hover img{
    transform: scale(1.1, 1.1);
}
.corol_ternd img, .new_hair img, .makeup img{
    transition: all 1s;
}
h1{
    font-family: 'Source Serif Pro', serif;    
    color: #7a6960;
    font-weight: normal;
    text-align: center;
}

/*리뷰영역*/
.review{
    width: 1200px;
    height: 700px;
    margin: 100px auto;
}
.review div{
    width: 350px;
    height: 500px;
    background-color: #d7c7b7;
    float: left;
    text-align: center;
}
.review div p{
    font-size: 14.5px;
    line-height: 24px;
    font-weight: 300;
    margin: 20px 0;
    color: #333;
}
.review div:nth-child(1){
    margin: 0 37.5px;
}
.review div:nth-child(3){
    margin: 0 37.5px;
}


/*인스타그램*/
h5{
    font-family: 'Source Serif Pro', serif;
    color: #7a6960;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-top: -80px;
}

.top{
    position: fixed;
    bottom: 10%;
    right: 7%;
    z-index: 100;
}

#footer{
    width: 100%;
    height: 300px;
    background-color: #7a6960;
}
.f_inner{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f_logo{
    float: left;
    width: 121px;
    height: 109px;
    padding-top: 47.5px;
    padding-left: 20px;
}
.f_center{
    width: 620px;
    float: left;
    margin: 0 100px;
    padding-top: 50px;
    padding-left: 60px;
}
.f_center h6{
    font-family: 'Source Serif Pro', serif;  
    font-size: 24px;
    color: #cdb87e;
}
.f_center p{
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
}
.f_center a{
    font-size: 12px;
    color: #ffffff;
}

.f_right{
    float: left;
    width: 289px;
    display: block;
    padding-top: 50px;
}
.f_right h6{
    font-family: 'Source Serif Pro', serif;  
    font-size: 24px;
    color: #cdb87e;
}

.f_right a img{
    padding: 20px 0;
}
.f_right a:hover image{
    opacity: 70%;
}
.f_right a:hover img{
    opacity: 60%;
}



